* {
    margin: 0;
    box-sizing: border-box;
  }

html, body {
    height: 100%;
    font-family: "Outfit", sans-serif;
    color: #1f314f;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #d5e1ef;
    align-items: center;
}

.principalSquare {
    background-color: white;
    width: 320px;
    height: 499px;
    align-items: center;
    padding-top: 16px;
    border-radius: 0.7em;
    text-align: center;
    display: flex; 
    flex-direction: column;
    margin-bottom: 0.5em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.title {
    color: #1f314f;
    font-family: "Outfit";
    font-weight: 800;
    font-size: 1.4em;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0.5em;
    margin-top: 0.5rem;
}

.subtitle {
    color: #1f314f;
    font-family: "Outfit";
    font-optical-sizing: auto;
    font-size: 15px;
    letter-spacing: 0.2px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.imageQRCode {
    border-radius: 1.0em;
    width: 288px;
    height: 288px;
}
